[pull]
	rebase = false
[format]
	signoff = true
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[user]
    signingkey = 07423CA9CEFC994BF6CE6228EB17D09557E27916
    name = Ofer Sadan
	email = ofersadan85@gmail.com
